*,
::after,
::before {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: Inconsolata, monospace;
  color: #141417;
  background: #232323;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu__link,
h2 {
  font-family: Poppins, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
  outline: 0;
}
a:focus,
a:hover {
  color: #2d2d30;
}
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}
@keyframes loaderAnim {
  to {
    transform: translate3d(0, -100px, 0);
  }
}
.codrops-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* padding: 5vw; */
  pointer-events: none;
}
.codrops-header__title {
  font-size: 1.5em;
  margin: 0;
  padding: 0 1em;
}
.codrops-icon {
  pointer-events: visible;
  display: inline-block;
  padding: 0.6em;
}
.demo {
  font-weight: 700;
  margin: 0 1em 0.5em 0;
  pointer-events: visible;
}
.content {
  position: relative;
  min-height: 300px;
  overflow-x: hidden;
}
.content__title {
  font-size: 8vw;
  line-height: 1.2;
  padding: 0 5vw;
}
.content__title__inner {
  flex: none;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.btn {
  border: 0;
  padding: 0;
  margin: 0;
  background: 0 0;
  color: inherit;
}
.btn:focus {
  outline: 0;
}
.btn--menu {
  position: absolute;
  top: 3vw;
  right: 3vw;
  color: #939391;
  pointer-events: visible;
}
.btn--close {
  position: absolute;
  top: 3vw;
  right: 3vw;
  font-size: 0.75em;
  z-index: 100;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 320px;
  z-index: 100;
}
.js .menu {
  pointer-events: none;
}
.js .menu--open {
  pointer-events: visible;
}
.menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 20vh 3em;
  margin: 0;
  background: #fcf652;
  overflow: hidden;
}
.menu__item {
  padding: 0.15em;
}
.js .menu__item {
  transform: translate3d(-13em, 0, 0);
  transition: transform 0s 0.4s;
}
.btn--close {
  opacity: 0;
}
.menu--open .btn--close,
.menu--open .menu__item {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s 135ms,
    transform 0.4s 135ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu--open .menu__item:nth-child(2) {
  transition-delay: 165ms;
}
.menu--open .menu__item:nth-child(3) {
  transition-delay: 195ms;
}
.menu--open .menu__item:nth-child(4) {
  transition-delay: 225ms;
}
.menu .menu__link {
  font-size: 3.5vw;
  color: #4f4f54;
  font-weight: 700;
}
.menu .menu__link:focus,
.menu .menu__link:hover {
  outline: 0;
  color: #000;
  text-decoration: line-through;
}
.author {
  margin: 1em 0 0 0;
  display: block;
  font-size: 0.65em;
}

.demo-menu a {
  color: #c5c149;
}
.demo-menu a:focus,
.demo-menu a:hover {
  color: #fcf652;
}
@media screen and (max-width: 50em) {
  .codrops-header__title {
    width: 100%;
    padding: 1em 0 0;
  }
  .demo {
    font-size: 1em;
    margin: 0.5em 1em 0.25em 0;
  }
  .content__title {
    font-size: 2em;
  }
  .menu .menu__link {
    font-size: 2em;
  }
}
