[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
flask-mail = "*"
flask-admin = "*"
flask-wtf = "*"
email-validator = "*"
pillow = "*"
flask-uploads = "*"
image = "*"
werkzeug = "==0.16.1"
pdfkit = "*"

[requires]
python_version = "3.8"
