{% from "base.html" import render_css, render_js, render_first, render_menu %}
<!doctype html>
<html class="no-js" lang="zxx">


<head>
    {{ render_css(render) }}
</head>

<body>
    {{ render_first(render) }}

    <!-- Single Page -->
    <main class="single-page">
        <!-- Page Header -->
        <div class="page-header">
            <h2>.<span>about me</span></h2>
            <p class="typewrite" data-period="2000"
                data-type='[ "Hi, I am Olugbenga Akeredolu.", "Below are my skills.", "Feel free to contact me for Project Ideas."]'>
                <span class="wrap"></span>
            </p>
            <div class="template-btn">
                <a href="contact.html" class="pointer-href">Hire me</a>
                <a href="{{ url_for('.download_file') }}" class="pointer-href">Download CV</a>
            </div>
        </div> <!-- Page Header End -->
        <div class="separator"></div>
        <!-- Services -->
        <div class="my-services subtitle">
            <h3 class="mb-40">.<span>my</span> services</h3>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                            <h4 class="body-font">Web Development</h4>
                            <p>Frontend and Backend development for your website using Python Flask, Wordpress,
                                React.js, HTML | CSS, PHP, Django..</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fas fa-mobile"></i>
                            </div>
                            <h4 class="body-font">Mobile Development</h4>
                            <p>Mobile App development using Flutter,Swift,JAVA for Android and IOS..</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fab fa-linux"></i>
                            </div>
                            <h4 class="body-font">Linux Administration</h4>
                            <p>Manage the operations of a computer system like maintain, enhance, create user
                                account/report, taking backups using Linux tools and command-line interface tools..</p>
                        </div>
                    </div>
                </div>

            </div> <!-- Services End -->

            <!-- Logo Carousel -->
            <div class="m-5 clients-logo-carousel owl-carousel text-center">
                <img src="../static/img/logo/html.png" alt="logo">
                <img src="../static/img/logo/python.png" alt="logo">
                <img src="../static/img/logo/ios.png" alt="logo">
                <img src="../static/img/logo/android.png" alt="logo">
                <img src="../static/img/logo/linux.png" alt="logo">
                <img src="../static/img/logo/php.png" alt="logo">
                <img src="../static/img/logo/wordpress.png" alt="logo">
                <img src="../static/img/logo/javascript.png" alt="logo">
                <img src="../static/img/logo/photoshop.png" alt="logo">
            </div> <!-- Logo Carousel End -->

            <!--resume start-->
            <div class="separator"></div>
            <div class="resume-wrapper">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="resume-content-left">
                            <!-- Education Timeline -->
                            <div class="education subtitle mb-70">
                                <h3 class="mb-40">.<span>certifications</span></h3>
                                <div class="timeline clearfix">
                                    <div class="timeline-item clearfix">
                                        <div class="timeline-left">
                                            <h6 class="item-period body-font">2016</h6>
                                            <span class="item-company"></span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="timeline-right">
                                            <h6 class="item-company body-font">compTIA Linux+ Certification</h6>

                                        </div>
                                    </div>
                                    <div class="timeline-item clearfix">
                                        <div class="timeline-left">
                                            <h6 class="item-period body-font">2016</h6>
                                            <span class="item-company"></span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="timeline-right">
                                            <h6 class="item-company body-font">LPIC-1 Certification</h6>

                                        </div>
                                    </div>

                                    <div class="timeline-item clearfix">
                                        <div class="timeline-left">
                                            <h6 class="item-period body-font">2016</h6>
                                            <span class="item-company"></span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="timeline-right">
                                            <h6 class="item-company body-font">SUSE Linux Administrator Certification
                                            </h6>

                                        </div>
                                    </div>

                                    <div class="timeline-item clearfix">
                                        <div class="timeline-left">
                                            <h6 class="item-period body-font">2020</h6>
                                            <span class="item-company"></span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="timeline-right">
                                            <h6 class="item-company body-font">AWS Certified Cloud Practitioner
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Timeline - Experience -->
                            <div class="experience subtitle">
                                <h3 class="mb-40">.<span>experience</span></h3>
                                <div class="timeline clearfix">
                                    <div class="timeline-item clearfix">
                                        <div class="timeline-left">
                                            <h6 class="item-period body-font">2016</h6>
                                            <span class="item-company">-</span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="timeline-right">
                                            <h6 class="item-title body-font">As Freelancer</h6>

                                        </div>
                                    </div>


                                    <div class="timeline-item clearfix">
                                        <div class="timeline-left">
                                            <h6 class="item-period body-font">2016-Active</h6>
                                            <span class="item-company">DENNY TECH UG</span>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="timeline-right">
                                            <h6 class="item-title body-font">As Linux Administrator</h6>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="resume-content-right">
                            <!-- Skills -->
                            <div class="skills clearfix">
                                <div class="developing-skill subtitle mb-70">
                                    <h3 class="mb-40">.<span>developing </span>skills</h3>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>Python</span></div>
                                        <div class="skill-bar-percent">90%</div>
                                        <div class="skillbar clearfix" data-parcent="90%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>HTML/CSS</span></div>
                                        <div class="skill-bar-percent">85%</div>
                                        <div class="skillbar clearfix" data-parcent="85%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>Flutter</span></div>
                                        <div class="skill-bar-percent">75%</div>
                                        <div class="skillbar clearfix" data-parcent="75%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>Javascript</span></div>
                                        <div class="skill-bar-percent">70%</div>
                                        <div class="skillbar clearfix" data-parcent="70%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>PHP</span></div>
                                        <div class="skill-bar-percent">80%</div>
                                        <div class="skillbar clearfix" data-parcent="80%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>WordPress</span></div>
                                        <div class="skill-bar-percent">90%</div>
                                        <div class="skillbar clearfix" data-parcent="90%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="design-skill subtitle ">
                                    <h3 class="mb-40">.<span>design </span>skills</h3>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>Adobe Illustrator</span></div>
                                        <div class="skill-bar-percent">80%</div>
                                        <div class="skillbar clearfix" data-parcent="80%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>Adobe Photoshop</span></div>
                                        <div class="skill-bar-percent">90%</div>
                                        <div class="skillbar clearfix" data-parcent="90%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>
                                    <div class="single-skill">
                                        <div class="skillbar-title"><span>Adobe XD</span></div>
                                        <div class="skill-bar-percent">60%</div>
                                        <div class="skillbar clearfix" data-parcent="70%">
                                            <div class="skillbar-bar"></div>
                                        </div>
                                    </div>

                                </div>

                            </div> <!-- Skills End -->
                        </div>
                    </div>
                </div>
            </div>
            <!--resume end-->



            <!-- Funfact Area -->
            <!--div class="fun-fact">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact funfact-mb text-center">
                        <h3 class="counter">480</h3>
                        <span class="title">Happy Clients</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact funfact-mb text-center">
                        <h3 class="counter">850</h3>
                        <span class="title">Projects Done</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact text-center">
                        <h3 class="counter percent">260</h3>
                        <span class="title">Cups Coffee</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact text-center">
                        <h3 class="counter">10</h3>
                        <span class="title">Got Awards</span>
                    </div>
                </div>
            </div>
        </div-->
            <!-- Funfact Area End -->
            <!-- Pricing Area -->
            <!--div class="pricing subtitle mb-70">
            <h3 class="mb-40">.<span>price</span> list</h3>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box text-center mb-30">
                        <div class="pricing-plan">
                            <h4>Basic</h4>
                        </div>
                        <div class="pricing-price">
                            <h3>
                                <small>$</small>349.<span>99</span>
                            </h3>
                        </div>
                        <div class="service-list">
                            <ul>
                                <li><i class="fas fa-laptop-code"></i> Web design</li>
                                <li><i class="fab fa-evernote"></i> Web Develop</li>
                                <li><i class="fas fa-drafting-compass"></i> Branding</li>
                                <li><i class="fas fa-anchor"></i> Marketing</li>
                                <li><i class="fas fa-share-alt"></i> Social Media</li>
                                <li><i class="fas fa-chess"></i> Consulting</li>
                            </ul>
                        </div>
                        <div class="get-started">
                            <a href="#">Get Started <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box text-center mb-30">
                        <div class="pricing-plan">
                            <h4>Standard</h4>
                        </div>
                        <div class="pricing-price">
                            <h3>
                                <small>$</small>549.<span>99</span>
                            </h3>
                        </div>
                        <div class="service-list">
                            <ul>
                                <li><i class="fas fa-laptop-code"></i> Web design</li>
                                <li><i class="fab fa-evernote"></i> Web Develop</li>
                                <li><i class="fas fa-drafting-compass"></i> Branding</li>
                                <li><i class="fas fa-anchor"></i> Marketing</li>
                                <li><i class="fas fa-share-alt"></i> Social Media</li>
                                <li><i class="fas fa-chess"></i> Consulting</li>
                            </ul>
                        </div>
                        <div class="get-started">
                            <a href="#">Get Started <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box text-center mb-30">
                        <div class="pricing-plan">
                            <h4>Premium</h4>
                        </div>
                        <div class="pricing-price">
                            <h3>
                                <small>$</small>849.<span>99</span>
                            </h3>
                        </div>
                        <div class="service-list">
                            <ul>
                                <li><i class="fas fa-laptop-code"></i> Web design</li>
                                <li><i class="fab fa-evernote"></i> Web Develop</li>
                                <li><i class="fas fa-drafting-compass"></i> Branding</li>
                                <li><i class="fas fa-anchor"></i> Marketing</li>
                                <li><i class="fas fa-share-alt"></i> Social Media</li>
                                <li><i class="fas fa-chess"></i> Consulting</li>
                            </ul>
                        </div>
                        <div class="get-started">
                            <a href="#">Get Started <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
            <!-- Pricing Area End -->
            <!-- Clients Testimonial -->

            <div class="clients-testimonial mt-5 subtitle">
              
                <h3 class="mb-40"><span>.</span> reviews</h3>
                
                <!-- Form Message -->
                <div class="row text-center mb-4">
                    <div class="col-md-6 container">
                        {% with messages = get_flashed_messages(with_categories=true)
                  %} {% if messages %} {% for category, message in messages %}
                        {% if category == 'success' %}
                        <div class="alert alert-success" role="alert">
                            {{ message }} <i class="far fa-smile"></i>!
                        </div>
                        {% endif %} {% endfor %} {% endif %} {% if messages %} {% for
                  category, message in messages %} {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            Error: {{ message }} <i class="far fa-frown"></i>!
                        </div>
                        {% endif %} {% endfor %} {% endif %} {% endwith %}
                    </div>
                </div>
                <!-- Form Message End -->
                <div class="clients-testimonial-active owl-carousel">
                    {% for review in reviews %}
                    {% if review.approved == 'yes' %}
                    <div class="single-testimonials">
                        <div class="client-image">
                            <img src="../static/img/pics/default.png" alt="clients">
                        </div>
                        <div class="feedback-text">
                            <p class="client-feedback">{{review.review}}</p>
                            <p class="client-name">{{review.name}}, <span>{{review.company}}</span></p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Clients Testimonial End -->

        

            <!--add review-->
            <div class="container text-center" id="review">
                <button type="button" class="btn p-3 btn-primary btn-sm" data-toggle="modal"
                    data-target="#exampleModal">
                    <i class="fas fa-pen-alt"></i> Add Review
                </button>
                <!--Modal-->
                <div class="modal" id="exampleModal" tabindex="-1" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="y item-period body-font">Add Review</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{{url_for('main.addreview')}}" method="POST">
                                <div class="modal-body">

                                    <!-- Form Element -->
                                   
                                    
                                    <div class="form_input_box">
                                        <input class="pointer-input" name="name" type="text" placeholder="Your name" minlength="2"
                                            required />
                                    </div>


                                    <div class="form_input_box">
                                        <select class="form-control pointer-input custom-select" name="platform"
                                            id="platform" placeholder="Reference" required>
                                            <option disabled>Platform</option>
                                            <option>Fiverr</option>
                                            <option>Linked In</option>
                                            <option>Other</option>

                                        </select>
                                    </div>


                                    <div class="form_input_box">
                                        <input class="pointer-input" name="ref" type="text" placeholder="Reference No."
                                            required />
                                    </div>

                                    <div class="form_input_box">
                                        <input class="pointer-input" name="company" type="text"
                                            placeholder="Your Company" />
                                    </div>

                                    <div class="form_input_box">
                                        <textarea class="pointer-input" name="review" rows="3" placeholder="Your review"
                                            required></textarea>
                                    </div>


                                    <!-- Form Element End -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                    <button type="submit" class="btn btn-primary">submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--add review end-->



    </main> <!-- Single page end -->

    <!-- ======================================= -->
<!-- MAIN MENU -->
<!-- ======================================= -->
<!-- Menu Container -->
<nav class="menu-container overlay-bg">
    <!-- Menu Close -->
    <div class="menu-close pointer-large"></div>
  
    <!-- Sub Menu Close -->
    <div class="submenu-close-box">
      <div class="submenu-close pointer-large">
        <button type="button"><i class="fas fa-arrow-left"></i>BACK</button>
      </div>
    </div>
    <!-- Sub Menu Close End -->
  
    <!-- Main Menu -->
    <ul class="main-menu overlay-bg">
      <!-- Menu Box -->
      <li class="nav-box mouseover-image-change ">
        <a href="index.html" class="pointer-large nav-link">
          <span class="nav-btn " data-text="home">.Home</span>
        </a>
  
      </li>
      <!-- Menu Box End -->
      <!-- Menu Box -->
      <li class="nav-box mouseover-image-change active">
        <a href="about.html" class="pointer-large nav-link">
          <span class="nav-btn active" data-text="about">.About me</span>
        </a>
    
      </li>
      <!-- Menu Box End -->
    
  
      <li class="nav-box mouseover-image-change">
        <a href="#" class="pointer-large nav-link">
          <span class="nav-btn" data-text="resume">.My portfolio</span>
        </a>
      
      </li>
  
      <!-- Menu Box -->
      <li class="nav-box mouseover-image-change">
        <a href="contact.html" class="pointer-large nav-link">
          <span class="nav-btn" data-text="contact">.Contact me</span>
        </a>
        
      </li>
      <!-- Menu Box End -->
    </ul>
    <!-- Main Menu End -->
  </nav>
  <!-- Menu Container End -->
  

    <button id="back_to_top" class="btnEntrance pointer-href"><i class="fas fa-arrow-up"></i></button>


    {{ render_js(render) }}
</body>

</html>