{% from "base.html" import render_css, render_js, render_first %}
<!doctype html>
<html class="no-js" lang="zxx">


<head>
    {{ render_css(render) }}
</head>

<body>
    {{ render_first(render) }}

    <!-- Single Page -->
    <main class="single-page">
        <!-- Page Header -->
        <div class="page-header">
            <h2>.<span>about</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna neque, pulvinar in orci in, pellentesque consequat tellus. Fusce mauris massa, pellentesque nec augue at, hendrerit rutrum ex. Cras venenatis vulputate nisi ut elementum.</p>
            <div class="template-btn">
                <a href="contact.html" class="pointer-href">Hire me</a>
                <a href="#" class="pointer-href">Download CV</a>
            </div>
        </div> <!-- Page Header End -->
        <div class="separator"></div>
        <!-- Services -->
        <div class="my-services subtitle">
            <h3 class="mb-40">.<span>my</span> services</h3>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fas fa-laptop-code"></i>
                            </div>
                            <h4 class="body-font">Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloribus repellendus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fab fa-evernote"></i>
                            </div>
                            <h4 class="body-font">Web Develop</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloribus repellendus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fas fa-drafting-compass"></i>
                            </div>
                            <h4 class="body-font">Branding</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloribus repellendus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fas fa-anchor"></i>
                            </div>
                            <h4 class="body-font">Marketing</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloribus repellendus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fas fa-share-alt"></i>
                            </div>
                            <h4 class="body-font">Social Media</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloribus repellendus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                    <div class="single-service text-center">
                        <div class="service-content">
                            <div class="service-icon">
                                <i class="fas fa-chess"></i>
                            </div>
                            <h4 class="body-font">Consulting</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloribus repellendus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Services End -->        
        <!-- Funfact Area -->
        <div class="fun-fact">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact funfact-mb text-center">
                        <h3 class="counter">480</h3>
                        <span class="title">Happy Clients</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact funfact-mb text-center">
                        <h3 class="counter">850</h3>
                        <span class="title">Projects Done</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact text-center">
                        <h3 class="counter percent">260</h3>
                        <span class="title">Cups Coffee</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="funfact text-center">
                        <h3 class="counter">10</h3>
                        <span class="title">Got Awards</span>
                    </div>
                </div>
            </div>
        </div> <!-- Funfact Area End -->
        <!-- Pricing Area -->
        <div class="pricing subtitle mb-70">
            <h3 class="mb-40">.<span>price</span> list</h3>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box text-center mb-30">
                        <div class="pricing-plan">
                            <h4>Basic</h4>
                        </div>
                        <div class="pricing-price">
                            <h3>
                                <small>$</small>349.<span>99</span>
                            </h3>
                        </div>
                        <div class="service-list">
                            <ul>
                                <li><i class="fas fa-laptop-code"></i> Web design</li>
                                <li><i class="fab fa-evernote"></i> Web Develop</li>
                                <li><i class="fas fa-drafting-compass"></i> Branding</li>
                                <li><i class="fas fa-anchor"></i> Marketing</li>
                                <li><i class="fas fa-share-alt"></i> Social Media</li>
                                <li><i class="fas fa-chess"></i> Consulting</li>
                            </ul>
                        </div>
                        <div class="get-started">
                            <a href="#">Get Started <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box text-center mb-30">
                        <div class="pricing-plan">
                            <h4>Standard</h4>
                        </div>
                        <div class="pricing-price">
                            <h3>
                                <small>$</small>549.<span>99</span>
                            </h3>
                        </div>
                        <div class="service-list">
                            <ul>
                                <li><i class="fas fa-laptop-code"></i> Web design</li>
                                <li><i class="fab fa-evernote"></i> Web Develop</li>
                                <li><i class="fas fa-drafting-compass"></i> Branding</li>
                                <li><i class="fas fa-anchor"></i> Marketing</li>
                                <li><i class="fas fa-share-alt"></i> Social Media</li>
                                <li><i class="fas fa-chess"></i> Consulting</li>
                            </ul>
                        </div>
                        <div class="get-started">
                            <a href="#">Get Started <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box text-center mb-30">
                        <div class="pricing-plan">
                            <h4>Premium</h4>
                        </div>
                        <div class="pricing-price">
                            <h3>
                                <small>$</small>849.<span>99</span>
                            </h3>
                        </div>
                        <div class="service-list">
                            <ul>
                                <li><i class="fas fa-laptop-code"></i> Web design</li>
                                <li><i class="fab fa-evernote"></i> Web Develop</li>
                                <li><i class="fas fa-drafting-compass"></i> Branding</li>
                                <li><i class="fas fa-anchor"></i> Marketing</li>
                                <li><i class="fas fa-share-alt"></i> Social Media</li>
                                <li><i class="fas fa-chess"></i> Consulting</li>
                            </ul>
                        </div>
                        <div class="get-started">
                            <a href="#">Get Started <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Pricing Area End -->        
        <!-- Clients Testimonial -->
        <div class="clients-testimonial subtitle">
            <h3 class="mb-40">.<span>cool</span> feedback</h3>
            <div class="clients-testimonial-active owl-carousel">
                <div class="single-testimonials">
                    <div class="client-image">
                        <img src="img/clients/client-1.jpg" alt="clients">
                    </div>
                    <div class="feedback-text">
                        <p class="client-feedback">It was exactly we looking for. Fariha Anjum done a great job for our projects. Definitely we will use her for our every project in future works.</p>
                        <p class="client-name">Willium Pillard, <span>Comic Agent</span></p>
                    </div>
                </div>
                <div class="single-testimonials">
                    <div class="client-image">
                        <img src="img/clients/client-2.jpg" alt="clients">
                    </div>
                    <div class="feedback-text">
                        <p class="client-feedback">It was exactly we looking for. Fariha Anjum done a great job for our projects. Definitely we will use her for our every project in future works.</p>
                        <p class="client-name">Digi Marshal, <span>MediaArt Inc.</span></p>
                    </div>
                </div>
                <div class="single-testimonials">
                    <div class="client-image">
                        <img src="img/clients/client-3.jpg" alt="clients">
                    </div>
                    <div class="feedback-text">
                        <p class="client-feedback">It was exactly we looking for. Fariha Anjum done a great job for our projects. Definitely we will use her for our every project in future works.</p>
                        <p class="client-name">Black Jogan, <span>Shudhu Media</span></p>
                    </div>
                </div>
            </div>            
        </div> <!-- Clients Testimonial End -->
        <!-- Logo Carousel -->
        <div class="clients-logo-carousel owl-carousel text-center">
            <img src="img/clients/1.png" alt="logo">
            <img src="img/clients/2.png" alt="logo">
            <img src="img/clients/3.png" alt="logo">
            <img src="img/clients/4.png" alt="logo">
            <img src="img/clients/5.png" alt="logo">
            <img src="img/clients/6.png" alt="logo">
        </div> <!-- Logo Carousel End -->
    </main> <!-- Single page end -->

    <!-- ======================================= -->
                    <!-- MAIN MENU -->
    <!-- ======================================= -->
    <!-- Menu Container -->
    <nav class="menu-container overlay-bg">
        <!-- Menu Close -->
        <div class="menu-close pointer-large"></div>

        <!-- Sub Menu Close -->
        <div class="submenu-close-box">
            <div class="submenu-close pointer-large">
                <button type="button"><i class="fas fa-arrow-left"></i>BACK</button>
            </div>
        </div><!-- Sub Menu Close End -->

        <!-- Main Menu -->
        <ul class="main-menu overlay-bg">
            <!-- Menu Box -->
            <li class="nav-box mouseover-image-change active">
                <a href="index.html" class="pointer-large nav-link">
                    <span class="nav-btn" data-text="home">.home</span>
                </a>
                <div class="mouseover-image" style="background-image: url(img/nav-hover/home.png);"></div>
            </li><!-- Menu Box End -->
            <!-- Menu Box -->
            <li class="nav-box mouseover-image-change">
                <a href="about.html" class="pointer-large nav-link">
                    <span class="nav-btn active" data-text="about">.about</span>
                </a>
                <div class="mouseover-image" style="background-image: url(img/nav-hover/about.png);"></div>
            </li><!-- Menu Box End -->
            <!-- Menu Box -->
            <li class="nav-box mouseover-image-change">
                <a href="resume.html" class="pointer-large nav-link">
                    <span class="nav-btn" data-text="resume">.resume</span>
                </a>
                <div class="mouseover-image" style="background-image: url(img/nav-hover/resume.png);"></div>
            </li><!-- Menu Box End -->
            <!-- Menu Box -->
            <li class="nav-box mouseover-image-change submenu-open">
                <a class="pointer-large nav-link">
                    <span class="nav-btn" data-text="portfolio">.portfolio</span>
                </a>
                <!-- Sub Menu -->
                <ul class="submenu">
                    <li class="nav-box">
                        <a href="portfolio.html" class="pointer-large">
                            <span class="nav-btn" data-text="portfolio">.portfolio</span>
                        </a>
                    </li>
                    <li class="nav-box">
                        <a href="portfolio-archives.html" class="pointer-large">
                            <span class="nav-btn" data-text="portfolio archives">.portfolio archives</span>
                        </a>
                    </li>
                    <li class="nav-box">
                        <a href="portfolio-details.html" class="pointer-large">
                            <span class="nav-btn" data-text="portfolio details">.portfolio details</span>
                        </a>
                    </li>
                </ul><!-- Sub Menu End -->
                <div class="mouseover-image" style="background-image: url(img/nav-hover/portfolio.png);"></div>
            </li><!-- Menu Box End -->
            <!-- Menu Box -->
            <li class="nav-box mouseover-image-change submenu-open">
                <a class="pointer-large nav-link">
                    <span class="nav-btn" data-text="blog">.blog</span>
                </a>
                <!-- Sub Menu -->
                <ul class="submenu">
                    <li class="nav-box">
                        <a href="blog.html" class="pointer-large">
                            <span class="nav-btn" data-text="blog">.blog</span>
                        </a>
                    </li>
                    <li class="nav-box">
                        <a href="blog-details.html" class="pointer-large">
                            <span class="nav-btn" data-text="blog details">.blog details</span>
                        </a>
                    </li>
                </ul><!-- Submenu End -->
                <div class="mouseover-image" style="background-image: url(img/nav-hover/blog.png);"></div>
            </li><!-- Menu Box End -->
            <!-- Menu Box -->
            <li class="nav-box mouseover-image-change">
                <a href="contact.html" class="pointer-large nav-link">
                    <span class="nav-btn" data-text="contact">.contact</span>
                </a>
                <div class="mouseover-image" style="background-image: url(img/nav-hover/contact.png);"></div>
            </li><!-- Menu Box End -->
        </ul><!-- Main Menu End -->
    </nav><!-- Menu Container End -->
    <button id="back_to_top" class="btnEntrance pointer-href"><i class="fas fa-arrow-up"></i></button>

    {{ render_js(render) }}
</body>

</html>
