{% from "base.html" import render_css, render_js, render_first, render_menu %}
<!doctype html>
<html class="no-js" lang="zxx">


<head>
    {{ render_css(render) }}
</head>

<body>
    {{ render_first(render) }}

    <!-- Single Page -->
    <main class="single-page">
        <!-- Page Header -->
        <div class="page-header">
            <h2>.<span>contact</span></h2>
            <p class="contact-title-intro">Start your Journey Right Now! Please don’t hesitate to contact with me for your project.</p>                
        </div> <!-- Page Header End -->
        <div class="separator"></div>
        <div class="contact-header-bg">                
            <!-- Contact Information -->
            <div class="contact-info d-flex justify-content-between">
                <div class="contact-info-box">
                    <div class="icon-box">
                        <span><i class="fas fa-phone-alt"></i></span>
                    </div>
                    <div class="text-box">
                        <a href="#" class="pointer-small">+880 1234 56789</a>
                        <a href="#" class="pointer-small">+880 1234 56789</a>
                    </div>
                </div>
                <div class="contact-info-box">
                    <div class="icon-box">
                        <span><i class="fas fa-paper-plane"></i></span>
                    </div>
                    <div class="text-box">
                        <a href="#" class="pointer-small">info@domain.com</a>
                        <a href="#" class="pointer-small">name@website.com</a>
                    </div>
                </div>
                <div class="contact-info-box">
                    <div class="icon-box">
                        <span><i class="fas fa-home"></i></span>
                    </div>
                    <div class="text-box">
                        <p>4237 Benson Park Drive <br>Young America</p>
                    </div>
                </div>
            </div> <!-- Contact Information End -->
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">                      
                <!-- Contact Form -->
                <div class="contact_form">
                    <form class="contact__form" method="post" action="https://themeforest.weexen.com/fariha/color-1/mail.php">
                        <!-- Form Message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none"
                                    role="alert">
                                    Your message was sent successfully.
                                </div>
                            </div>
                        </div> <!-- Form Message End -->
                        <!-- Form Element -->
                        <div class="form_input_box">
                            <input class="pointer-input" name="name" type="text" placeholder="Your name" required>
                        </div>
                        <div class="form_input_box">
                            <input class="pointer-input" name="email" type="email" placeholder="Your email" required>
                        </div>
                        <div class="form_input_box">
                            <input class="pointer-input" name="subject" type="text" placeholder="Subject" required>
                        </div>
                        <div class="form_input_box">
                            <textarea class="pointer-input" name="message" rows="3" placeholder="Your message" required></textarea>
                        </div>
                        <button class="form-submit-btn pointer-href" name="submit" type="submit">Send Message</button>
                        <!-- Form Element End -->
                    </form>
                </div> <!-- Contact Form End -->
            </div>
            <div class="col-xl-6 col-lg-6">
                <div id="map"></div>
            </div>
        </div>
    </main> <!-- Single page end -->

    {{ render_menu(render) }}

    <button id="back_to_top" class="btnEntrance pointer-href"><i class="fas fa-arrow-up"></i></button>

    {{ render_js(render) }}
</body>


</html>
